@model List<Budget>
@{
    ViewData["Title"] = "Budget Page";
}

<br>
<div class="content">
    <table>
        <tr>
            <th>期間</th>
            <th>食物</th>
            <th>交通</th>
            <th>娛樂</th>
            <th>購物</th>
            <th>個人雜支</th>
            <th>學習</th>
            <th>其他</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Period.Year, @item.Period.Month</td>
                <td>@item.Food</td>
                <td>@item.Transport</td>
                <td>@item.Entertainment</td>
                <td>@item.Shopping</td>
                <td>@item.Personal</td>
                <td>@item.Learning</td>
                <td>@item.Other</td>
            </tr>
        }
    </table>

</div>