@model List<Journal>
@{
    ViewData["Title"] = "Details";
}

<br>
<div class="content">
    <h3>@Model[0].Users.Balance</h3>
    <div>
        <button style="float:right"><a asp-action="Add_Revenue" asp-route-id="@Model.ToList()[0].UserID"></a></button>
        <button style="float:right"><a asp-action="Add_Expense" asp-route-id="@Model.ToList()[0].UserID"></a></button>
    </div>
    <table>
        <tr>
            <th>日期</th>
            <th>收入/支出</th>
            <th>種類</th>
            <th>項目</th>
            <th>描述</th>
            <th>金額</th>
            <th>修改</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date</td>
                @if (@item.Type == 0)
                {
                    <td>收入</td>
                }
                else
                {
                    <td>支出</td>
                }
                <td>@item.Category</td>
                <td>@item.AccountingTitle</td>
                <td>@item.Description</td>
                <td>@item.Amount</td>
                <td><button><a asp-action="Edit" asp-route-id="@item.UserID" asp-route-jouid="@item.JournalID">修改</a></button></td>
            </tr>
        }
    </table>
</div>